main {
    width: 95%;
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;
}

.welcome-banner {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 60%;
}

.welcome-banner h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 120px;
}

.welcome-banner p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-left: 120px;
    line-height: 22px;
}


.sign-up-form {
    text-align: center
}

.sign-up-form h3 {
    margin-bottom: 20px;
    font-size: 30px;
}

.form {
    width: 60%;
    display: inline-block;
    text-align: left;
    border: solid black 4px;
    padding: 50px 100px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid black 3px;
}

button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    border: solid black 2px;
    box-shadow: 2px 4px;
}

button:hover {
    cursor: pointer;
}