<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <!-- <meta http-equiv="Refresh" content="4"; url="http://MakersBnB.com/Spaces"> -->
        <!-- This is the automatic redirect function. It seemed unnecessary after the confirm
        -email link process was setup. But it could be useful elsewhere!-->
        <title>MakersBnB - Spaces</title>
        <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/base_styling.css">
        <link rel="stylesheet" href="../static/registration.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="https://MakersBnB.com/Index"><img src="https://www.manchesterdigital.com/storage/19222/Makers-Logo_LockupV-Black-White-Background.png" alt="Logo" class="logo"></a>
            <div class="nav-links">
                <a href="https://MakersBnB.com/About" class="nav-link">About</a>
                <a href="https://MakersBnB.com/Index" class="nav-link">Sign Out</a>
            </div>
        </nav>
        <main>
            <section>
                <h2>
                    Thank you for signing up with MakersBnB!<br>
                </h2>
                <p>
                    We have sent you a confirmation email at: {{ email }}<br>
                    If you can't find it in your inbox please check your junk/spam folder.<br>
                    Otherwise, <a href="/confirmation?resend=true">click here</a> to re-send the link!
                    <!-- Otherwise, use this <strong><a href="/templates/index.html">link</a></strong> to re-register. -->
                    <!-- If you're still having issues signing in, please use this <strong><a href="/templates/contact_form.html">link</a></strong> to fill in a contact form and we will get back to you within one working day! -->
                </p>
            </section>
        </main>
    </body>