<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>MakersBnB - Spaces</title>
        <link rel="stylesheet" href="../static/base_styling.css">
        <link rel="stylesheet" href="../static/spaces.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="https://MakersBnB.com/Index"><img src="https://www.manchesterdigital.com/storage/19222/Makers-Logo_LockupV-Black-White-Background.png" alt="Logo" class="logo"></a>
            <div class="nav-links">
                <a href="https://MakersBnB.com/About" class="nav-link">About</a>
                <a href="/login" class="nav-link">Sign Out</a>
            </div>

        </nav>
        <main>
            <h1>Submit a Contact Request</h1>
        </main>
    </body>