<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="../static/style.css" >
        <link rel="stylesheet" href="../static/base_styling.css">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <nav class="navbar">
            <img src="https://www.manchesterdigital.com/storage/19222/Makers-Logo_LockupV-Black-White-Background.png" alt="Logo" class="logo">
            <div class="nav-links">
                <a href="https://MakersBnB.com/About" class="nav-link">About</a>
                <a href="/login" class="nav-link">Login</a>
            </div>
        </nav>
        <main>
            <section class="welcome-banner">
                <h1>Feel at home, anywhere</h1>
                <p>Welcome to MakersBnB, where adventure meets comfort!
                  Whether you're seeking a cosy urban loft,
                    a secluded countryside cottage, or a beachfront paradise, we've got you covered.
                  Our platform connects travellers
                    with unique accommodations hosted by locals, ensuring authentic experiences wherever you go.
                  Discover your home
                    away from home with MakersBnB today!</p>
            </section>

                {% if error_message %}
                <p style="color: rgb(255, 0, 0);">{{ error_message }}</p>  
                {% endif %}

                {% if errors %}
                <p class="t-errors">
                {{ errors }}
                {% endif %}

                <!-- ADDED ERROR MESSAGE -->

            <section class="sign-up-form">
                <h3>Sign up to MakersBnB</h3>
                <form action="/index" method="post" class="form">
                    <div class="form-group">
                        <label for="email">Email Address:</label>

                        <input type="email" id="email" name="email" required>

                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" required>
                    </div>
                    <div class="form-group">
                        <label for="first_name">First name:</label>
                        <input type="text" id="first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Surname:</label>
                        <input type="text" id="last_name" name="last_name" required>
                    </div>
                    <div class="phone_number">
                        <label for="phone_number">Phone Number:</label>
                        <input type="tel" id="phone_number" name="phone_number" required>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>

            <!-- ADDED VARIOUS FIELDS  -->
    
            </section>
                
        </main>
    </body>
</html>
