<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>MakersBnB - Spaces</title>
        <link rel="stylesheet" href="../static/base_styling.css">
        <link rel="stylesheet" href="../static/spaces.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="https://MakersBnB.com/Index"><img src="https://www.manchesterdigital.com/storage/19222/Makers-Logo_LockupV-Black-White-Background.png" alt="Logo" class="logo"></a>
            <div class="nav-links">
                <a href="https://MakersBnB.com/About" class="nav-link">About</a>
                <a href="/login" class="nav-link">Sign Out</a>
            </div>

        </nav>
        <main>
            <section>
                <div class = "welcome-logged-in-user">
                    <p> Welcome {{fullname}}!</p>
                </div>
            </section>
            <section class="spaces-banner">
                <h1>Book a Space</h1>
                <p>Discover your ideal retreat with ease. 
                    Book unique spaces for unforgettable stays or alternatively, 
                    list a space by clicking the button below.</p>
                    <a href="/list_space" class="listings-button">List a Space</a>
            </section>
            <!--<section class="date-filter-panel">
                <div class="date-filter">
                    <label for="available-from">Available from</label>
                    <input type="date" id="available-from" name="available-from" required>
                </div>
                <div class="date-filter">
                    <label for="available-to">Available to</label>
                    <input type="date" id="available-to" name="available-to" required>
                </div>
                <div class="date-filter">
                    <button type="submit">List Spaces</button>
                </div>
            </section>-->
            </section>
        </section>
        {% for space in spaces %}
        <div class="result">
            <a href="/spaces/{{ space.id }}">
                <h2>{{ space.name }}</h2>
            </a>
            <p>{{ space.description }}</p>
            <p>Price: £{{ space.price_per_night }} per night</p>
            <p>Availability:</p>
            <ul>
                {% for availability in space.availability %}
                <li>{{ availability.start_date }} to {{ availability.end_date }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        </section>
                </div>
            </section>
    </main>

    </body>