<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta http-equiv="Refresh" content="4"; url="http://MakersBnB.com/Spaces">
        <title>MakersBnB - Spaces</title>
        <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/base_styling.css">
        <link rel="stylesheet" href="../static/registration.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="https://MakersBnB.com/Index"><img src="https://www.manchesterdigital.com/storage/19222/Makers-Logo_LockupV-Black-White-Background.png" alt="Logo" class="logo"></a>
            <div class="nav-links">
                <a href="https://MakersBnB.com/About" class="nav-link">About</a>
                <a href="https://MakersBnB.com/Index" class="nav-link">Sign Out</a>
            </div>
        </nav>
        <main>
            <section>
                <h2>
                    Registration Successful!
                </h2>
                <p>
                    Please wait to be redirected. If you are not redirected automatically, please click: <strong><a href="/templates/login.html">here</a></strong>
                </p>
            </section>
        </main>
    </body>